.worksWrap {
  background: linear-gradient(
    135deg,
    rgba(28, 43, 89, 1) 0%,
    rgba(40, 65, 136, 1) 25%,
    rgba(5, 18, 67, 1) 100%
  );
  padding: 40px 0px;
}
.worksHeaderWrap h5 {
  color: #2d83ee;
  text-transform: uppercase;
  font-size: 15px;
}
.worksHeaderWrap h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
.headingButtonWrap button {
  color: white;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: transparent;
  margin: 10px;
}
.headingButtonWrap .buttonActive {
  background-color: #2d83ee !important;
  border: 1px solid #2d83ee;
}
.work h3 {
  font-size: 20px;
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
}
.work button {
  color: white;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 8px 25px;
  margin: 10px 10px;
  text-transform: uppercase;
}
.work img {
  text-align: center;
}
.sliderWrap {
  width: 100%;
}
.rec-arrow-right,
.rec-arrow-left {
  color: white !important;
  background: transparant !important;
}
.rec-arrow-right:hover,
.rec-arrow-left:hover {
  background-color: transparent !important;
}
.rec-pagination {
  display: none !important;
}
.workButton button {
  color: white;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 8px 25px;
  margin: 10px 10px;
  text-transform: uppercase;
}
