.footerWrap {
  background-color: #28293e;
  color: white;
}
.footerSection {
  margin-bottom: 20px;
}
.footerSection p {
  margin-bottom: 3px;
}
.footerEmail span {
  text-decoration: underline;
  margin-left: 5px;
  align-self: center;
}
.footerEmail i {
  align-self: center;
}
.selectWrap {
  width: 120px;
  text-align: left;
  display: flex;
}
.engFlag {
  background-image: url("../../img//images/eng.png");
}
.languageFlag {
  display: flex;
}
.languageFlag img {
  margin-left: 15px;
  margin-top: 15px;
}
