.bannerWrap {
  margin-top: 130px;
  text-align: start;
  color: white;
}
.bannerText {
  align-self: center;
}
.bannerText h1 {
  color: white;
  font-size: 50px;
  margin-top: 20px;
}
.bannerText h3 {
  margin: 50px 0px;
}

.bannerButton .requestButton,
.exploreButton {
  border: 0px;
  border-radius: 10px;
  padding: 10px 25px;
  box-shadow: 5px 8px 10px #00000029;
  color: white;
}
.requestButton {
  background: linear-gradient(
    90deg,
    rgba(98, 76, 244, 1) 0%,
    rgba(113, 132, 253, 1) 100%
  );
}
.bannerButton .exploreButton {
  margin-left: 48px;
  background-color: transparent;
  border: 1px solid rgba(113, 132, 253, 1);
}
.bannerBottomWrap {
  padding-top: 100px;
  padding-bottom: 60px;
}
.bannerBottomWrap h2 {
  margin-right: 15px;
  align-self: center;
  font-size: 30px;
  color: #2d83ee;
  font-weight: bold;
  margin-bottom: 0px;
}
.bannerBottomWrap p {
  margin-bottom: 0px;
}
